{{> header}}
{{> navbar}}
<p>Luego del polémico urinal colocado en un museo, su nombre fue difundido en todos los ámbitos. Sin embargo, hay<br>
    mucho más para decir de él, por ejemplo, que generó una discusión sobre el papel del artista. Sus productos ready<br>
    made eran objetos cotidianos, pero puestos en un lugar que no les pertenecía. ¿Es esto arte, o no?</p>
<img src="/images/marcel1.jpg">
<img src="/images/marcel2.jpg">
<img src="/images/marcel3.jpg">
<img src="/images/marcel4.jpg">
<img src="/images/marcel5.jpg">
{{> footer}}