{{> header}}
{{> navbar}}
<p>Fue quien marcó el pasaje del impresionismo al cubismo, siendo considerado como el Padre del Arte Moderno. Influenció<br>
    a figuras como Picasso y Matisse y trató de estudiar la percepción teniendo en cuenta que son dos imágenes las que<br>
    vemos, una por cada ojo</p>
<img src="/images/paul1.jpg">
<img src="/images/paul2.jpg">
<img src="/images/paul3.jpg">
<img src="/images/paul4.jpg">
<img src="/images/paul5.jpg">
{{> footer}}