{{> header}}
{{> navbar}}
<p>René Magritte fue un pintor surrealista que jugaba con los sentidos y la percepción visual. Fue una gran influencia<br>
    en su época, incluso en el mundo musical y el nuevo movimiento Pop Art. Quería hacernos notar también la diferencia<br>
    entre una representación y el objeto real, nunca iguales.</p>
<img src="/images/rene1.jpg">
<img src="/images/rene2.jpg">
<img src="/images/rene3.jpg">
<img src="/images/rene4.jpg">
<img src="/images/rene5.jpg">
{{> footer}}