{{> header}}
{{> navbar}}
<p>En un período corto creó casi 800 pinturas, destacadas por los colores y el trazo difuminado. Es uno de los<br>
    grandes artistas de la historia e inspiró a los impresionistas modernos. Todavía sigue siendo de los más importantes<br>
    y difundidos del mundo.</p>
<img src="/images/van1.jpg">
<img src="/images/van2.jpg">
<img src="/images/van3.jpg">
<img src="/images/van4.jpg">
<img src="/images/van5.jpg">
{{> footer}}